{% extends "base.html" %}

{% block base_block %}
    {% with jumbotron_is_active=True jumbotron_is_side=True %}
        {{ block.super }}

    {% endwith %}
{% endblock %}

{% block content %}

    <form method="post" action="{% url "userprofile:login" %}">
        {% csrf_token %}

        {% if form.errors %}
            {% for error in form.non_field_errors %}
                <small class="form-text text-danger">{{ error }}</small>
            {% endfor %}
        {% endif %}

        <div class="col-lg-9 col-md-10 justify-content-center">
            {% include "forms/charfield.html" with field=form.username %}
            {% include "forms/password.html" with field=form.password %}
        </div>

        <input type="submit" class="btn btn-danger " id="login" value="Войти!">
    </form>
{% endblock %}