{% extends "base.html" %}

{% block base_block %}
    {% with jumbotron_is_active=True page_title=page_title page_description=page_description %}
        {{ block.super }}
    {% endwith %}
{% endblock %}

{% block content %}
    {% include "post/list.html" %}

    <div class="reg card">
        <div class="card-body">
            <h2 class="card-title">
                Настройки профиля
            </h2>

            <form>
                <div class="form-row">
                    <div class="reg-contacts col-md-6">
                        <div class="form-group">
                            <div class="row justify-content-center">
                                <img src="../img/user_empty.png" class="rounded">
                            </div>
                            <label for="ch-photo">Выберите фото</label>
                            <input type="file" class="form-control-file" id="ch-photo" name="Выберите фото">
                        </div>
                    </div>
                    <div class="reg-personal col-md-6">
                        <div class="form-group">
                            <label for="ch-email" class="form-control-label">Email</label>
                            <input type="email" id="ch-email" placeholder="Email" class="form-control" value="imechko@fa.ru">
                        </div>
                        <div class="form-group">
                            <label for="ch-firstName" class="form-control-label">Ваше имя</label>
                            <input type="text" id="ch-firstName" placeholder="Ваше имя" class="form-control" value="Имечко">
                        </div>
                        <div class="form-group">
                            <label for="ch-secondName" class="form-control-label">Ваша фамилия</label>
                            <input type="text" id="ch-secondName" placeholder="Ваша фамилия" class="form-control" value="Фамилия">
                        </div>

                        <div>
                            <div class="form-control-label">
                                Пол
                            </div>

                            <div class="reg-sex form-group">
                                <div class="form-check form-check-inline">
                                    <label class="form-check-label">
                                        <input class="form-check-input" type="radio" name="sex" id="ch-sexMale" value="male" checked>
                                        Мужской
                                    </label>
                                </div>
                                <div class="form-check form-check-inline">
                                    <label class="form-check-label">
                                        <input class="form-check-input" type="radio" name="sex" id="ch-sexFemale" value="female">
                                        Женский
                                    </label>
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="form-control-label" for="ch-about">Расскажите о себе</label>
                            <textarea class="form-control" id="ch-about">Что-то о себе...</textarea>
                        </div>

                        <input type="submit" class="btn btn-primary float-right" value="Сохранить">
                    </div>
                </div>
            </form>
        </div>
    </div>
{% endblock %}

