{% extends "base.html" %}

{% block base_block %}
    {% with jumbotron_is_active=True page_title=page_title page_description=page_description %}
        {{ block.super }}
    {% endwith %}
{% endblock %}

{% block content %}
    {% include "post/list.html" %}

    <div class="reg card">
        <div class="card-body">
            <h2 class="card-title">
                {% block form_title_block %}
                    Настройки профиля
                {% endblock %}
            </h2>

            <form enctype="multipart/form-data" method="post" action="{% url "userprofile:editprofile" pk=context_userprofile.pk %}?next={{ next }}">
                {% csrf_token %}

                {% if form.errors %}
                    {% for error in form.non_field_errors %}
                        <small class="form-text text-danger">{{ error }}</small>
                    {% endfor %}
                {% endif %}

                {# email #}
                {% include "forms/email.html" with field=form.email %}

                {# first name #}
                {% include "forms/charfield.html" with field=form.first_name %}

                {{ form.avatar }}

                {# second name #}
                {% include "forms/charfield.html" with field=form.last_name %}

                {# about #}
                {% include "forms/textarea.html" with field=form.about %}
                <input type="submit" class="btn btn-primary float-right" value="Сохранить">
            </form>
        </div>
    </div>
{% endblock %}

