<span
        class="comment-votes btn-group float-right"
        role="group"
>
    <button
            type="button"
            class="btn btn-sm btn-outline-success"
            data-url="{{ vote_url }}"
            data-action="like"
    >
        +
    </button>

    <button
            type="button"
            class="btn btn-sm btn-light rating-comment"
            disabled
            data-action="rating"
    >
        {{ rating }}
    </button>

    <button
            type="button"
            class="btn btn-sm btn-outline-danger"
            data-url="{{ vote_url }}"
            data-action="dislike"
    >
        -
    </button>
</span>