<div class="comment row" id="comment-{{ id }}">
    <div class="comment-author-photo col">
        <img src="/bauchange_fish/img/user_empty.png" class="rounded">
    </div>
    <div class="comment-content col">
        <p class="comment-author">{{ author }}</p>
        <p class="comment-text">
            {{ text }}
        </p>
        <div class="comment-footer">
                <span class="comment-pub-date meta">{{ pub_date }}</span>
                {% include "comment/item-votes.html" %}
        </div>
        <div class="dropdown-divider"></div>
    </div>
</div>