{% url 'userprofile:userprofile-page' object.user.id as user_page%}

<div class="post-sidebar">

    <div class="user-mini-photo-container">
        <img src="/upload/img/user_empty.png" class="rounded-circle">
    </div>
    <div class="post-user-date">
        <h2 class="author-name">
            <a href="{{ post.author.get_absolute_url }}">
                {{ post.author.user.first_name}} {{ post.author.user.last_name}}
            </a>
        </h2>
        <p class="post-pub-date meta">
            {{ pub_date|date:"H:i d.m.Y" }}
        </p>
    </div>

{#    <p class="post-pub-date meta">#}
{#        {{ pub_date|date:"H:i d.m.Y" }}#}
{#    </p>#}
{##}
{#    <div class="author card">#}
{#        <img class="card-img-top" src="/upload/img/user_empty.png" alt="Author proto">#}
{#        <div class="card-body">#}
{#            <h2 class="author-name card-title"><a href="{{ post.author.get_absolute_url }}">{{ post.author.user.first_name}} {{ post.author.user.last_name}}</a></h2>#}
{#        </div>#}
{#    </div>#}

</div>