<div class="post-statistics">
    <div class="post-votes btn-group">
        <a class="btn btn-outline-secondary btn-outline-success"
                data-action="like"
                data-url="{% url "post:like" pk=post.pk %}"
                data-id="{{ post.id }}"
        >

            <span>За </span>
            <span data-count="like">{{ post.get_likes_count }}</span>
        </a>

        <a class="btn btn-outline-secondary btn-outline-danger"
                data-action="dislike"
                data-url="{% url "post:dislike" pk=post.pk %}"
                data-id="{{ post.id }}"
        >
            <span>Против </span>
            <span data-count="dislike">{{ post.get_dislikes_count }}</span>
        </a>
    </div>

    <div class="post-views float-right">
        <i class="fa fa-eye" aria-hidden="true"></i> Просмотры: {{ post.views }}
    </div>
</div>