<div class="post-statistics">

    <div class="post-votes btn-group">

        <button
                class="btn btn-outline-secondary btn-outline-success {{ is_liked }}"
                data-action="like"
                data-url="{{ post.get_vote_url }}"
                data-type="post"
        >
            <span>За </span>
            <span data-count="like">{{ post.rating.get_likes }}</span>
        </button>

        <button
                class="btn btn-outline-secondary btn-outline-danger {{ is_disliked }}"
                data-action="dislike"
                data-url="{{ post.get_vote_url }}"
                data-type="post"
        >
            <span>Против </span>
            <span data-count="dislike">{{ post.rating.get_dislikes }}</span>
        </button>

    </div>

    <div class="post-views float-right">
        <i class="fa fa-eye" aria-hidden="true"></i> Просмотры: {{ post.views }}
    </div>
</div>