<div class="post-meta">
    <div class="post-tags">
        <span>Категория: </span>
        <a href="{% url 'category:category-posts' post.category.id %}" class="tag btn btn-light btn-sm">
            {{ post.category }}
        </a>
    </div>
    <div class="post-tags">
        <span>Теги: </span>

        {% for tag_item in post.tag.all %}

            <a href="{% url 'tag:tag-posts' tag_item.id %}" class="tag btn btn-light btn-sm">{{ tag_item.label }}</a>
        {% endfor %}
    </div>
</div>