{% extends "base.html" %}

{% block content %}
    <div class="create-post card">
        <div class="card-body">
            <h2 class="card-title">
                Создать инициативу
            </h2>
            <form method="post" action="{% url "post:create" %}" class="create-post-form m-0">
                {% csrf_token %}

                {#Заголовок#}
                {% include "forms/charfield.html" with field=form.title %}

                {#Текст#}
                {% include "forms/textarea.html" with field=form.text %}

                {#Теги#}
                {% include "forms/charfield.html" with field=form.tags %}

                <div class="form-group row">

                    {#Категория#}
                    <div class="col-lg-8 col-md-8">
                        {% include "forms/select.html" with field=form.category %}
                    </div>

                    {#Отправить#}
                    <div class="form-group col">
                        <input
                                role="button"
                                class="btn btn-primary float-right"
                                type="submit"
                                value="Предложить!"
                                id="create-post-button"
                        >
                    </div>
                </div>

            </form>
        </div>
    </div>
{% endblock %}