{% extends "base.html" %}

{% block content %}

<div class="post card">
    <div class="post-main card-body">
        {% include "post/detail-includes/detail-sidebar.html" with pub_date=post.pub_date %}
        {% include "post/detail-includes/detail-content.html" %}
    </div>
    <div class="dropdown-divider"></div>

    {% include "comment/list.html" with comments=comments %}
</div>

{% endblock %}


{% block extra_js %}
    <script src="/static/js/like_dislike.js"></script>
    <script src="/static/js/comments.js"></script>
{% endblock %}