{% extends "base.html" %}

{% block content %}

<div class="post card">
    <div class="post-main card-body">
        {% include "post/detail-sidebar.html" with pub_date=object.pub_date %}
        {% include "post/detail-content.html" %}
    </div>
    <div class="dropdown-divider"></div>


    <!-- <div class="post-comments">
        <h4 class="card-subtitle">Комментарии (228)</h4>

        <div class="comment row">

            <div class="comment-author-photo col">
                <img src="/bauchange_fish/img/user_empty.png" class="rounded">
            </div>
            <div class="comment-content col">
                <p class="comment-author">Александр Пушкин</p>
                <p class="comment-text">
                    Русский поэт, драматург и прозаик, заложивший основы русского реалистического
                    направления, критик и теоретик литературы, историк, публицист; один из самых
                    авторитетных литературных деятелей первой трети XIX века. Также Пушкин
                    рассматривается как создатель современного русского литературного языка.
                </p>
                <div class="comment-footer">
                    <span class="comment-pub-date meta">19:59 16.10.2017</span>
                    <span class="comment-votes btn-group float-right" role="group">
                        <button type="button" class="btn btn-sm btn-outline-success">+</button>
                        <button type="button" class="btn btn-sm btn-light" disabled>0</button>
                        <button type="button" class="btn btn-sm btn-outline-danger">-</button>
                    </span>
                </div>
                <div class="dropdown-divider"></div>
            </div>
        </div>
        <div class="comment row">

            <div class="comment-author-photo col">
                <img src="/bauchange_fish/img/user_empty.png" class="rounded">
            </div>
            <div class="comment-content col">
                <p class="comment-author">Александр Пушкин</p>
                <p class="comment-text">
                    Русский поэт, драматург и прозаик, заложивший основы русского реалистического
                    направления, критик и теоретик литературы, историк, публицист; один из самых
                    авторитетных литературных деятелей первой трети XIX века. Также Пушкин
                    рассматривается как создатель современного русского литературного языка.
                </p>
                <div class="comment-footer">
                    <span class="comment-pub-date meta">19:59 16.10.2017</span>
                    <span class="comment-votes btn-group float-right" role="group">
                        <button type="button" class="btn btn-sm btn-outline-success">+</button>
                        <button type="button" class="btn btn-sm btn-light" disabled>0</button>
                        <button type="button" class="btn btn-sm btn-outline-danger">-</button>
                    </span>
                </div>
                <div class="dropdown-divider"></div>
            </div>
        </div>
        <div class="comment row">

            <div class="comment-author-photo col">
                <img src="/bauchange_fish/img/user_empty.png" class="rounded">
            </div>
            <div class="comment-content col">
                <p class="comment-author">Александр Пушкин</p>
                <p class="comment-text">
                    Русский поэт, драматург и прозаик, заложивший основы русского реалистического
                    направления, критик и теоретик литературы, историк, публицист; один из самых
                    авторитетных литературных деятелей первой трети XIX века. Также Пушкин
                    рассматривается как создатель современного русского литературного языка.
                </p>
                <div class="comment-footer">
                    <span class="comment-pub-date meta">19:59 16.10.2017</span>
                    <span class="comment-votes btn-group float-right" role="group">
                        <button type="button" class="btn btn-sm btn-outline-success">+</button>
                        <button type="button" class="btn btn-sm btn-light" disabled>0</button>
                        <button type="button" class="btn btn-sm btn-outline-danger">-</button>
                    </span>
                </div>
                <div class="dropdown-divider"></div>
            </div>
        </div>
        <div class="comment row">

            <div class="comment-author-photo col">
                <img src="/bauchange_fish/img/user_empty.png" class="rounded">
            </div>
            <div class="comment-content col">
                <p class="comment-author">Александр Пушкин</p>
                <p class="comment-text">
                    Русский поэт, драматург и прозаик, заложивший основы русского реалистического
                    направления, критик и теоретик литературы, историк, публицист; один из самых
                    авторитетных литературных деятелей первой трети XIX века. Также Пушкин
                    рассматривается как создатель современного русского литературного языка.
                </p>
                <div class="comment-footer">
                    <span class="comment-pub-date meta">19:59 16.10.2017</span>
                    <span class="comment-votes btn-group float-right" role="group">
                        <button type="button" class="btn btn-sm btn-outline-success">+</button>
                        <button type="button" class="btn btn-sm btn-light" disabled>0</button>
                        <button type="button" class="btn btn-sm btn-outline-danger">-</button>
                    </span>
                </div>
                <div class="dropdown-divider"></div>
            </div>
        </div>
        <div class="comment row">

            <div class="comment-author-photo col">
                <img src="/bauchange_fish/img/user_empty.png" class="rounded">
            </div>
            <div class="comment-content col">
                <p class="comment-author">Александр Пушкин</p>
                <p class="comment-text">
                    Русский поэт, драматург и прозаик, заложивший основы русского реалистического
                    направления, критик и теоретик литературы, историк, публицист; один из самых
                    авторитетных литературных деятелей первой трети XIX века. Также Пушкин
                    рассматривается как создатель современного русского литературного языка.
                </p>
                <div class="comment-footer">
                    <span class="comment-pub-date meta">19:59 16.10.2017</span>
                    <span class="comment-votes btn-group float-right" role="group">
                        <button type="button" class="btn btn-sm btn-outline-success">+</button>
                        <button type="button" class="btn btn-sm btn-light" disabled>0</button>
                        <button type="button" class="btn btn-sm btn-outline-danger">-</button>
                    </span>
                </div>
                <div class="dropdown-divider"></div>
            </div>
        </div>
        <div class="comment row create-comment">
            <div class="comment-author-photo col">
                <img src="/bauchange_fish/img/user_empty.png" class="rounded">
            </div>
            <form class="comment-content col">
                <textarea class="form-control" placeholder="Напишите комментарий"></textarea>
                <input class="btn btn-primary float-right" id="send-comment" type="submit" value="Отправить">
            </form>
        </div>

    </div> -->
</div>

{% endblock %}