<div class="card text-center userpage-card">
    <div class="card-header userpage-user-bg" style="
        background: url('{{ userprofile.get_avatar_url }}');
        background-size: cover;
        background-position: center;
        filter: blur(3px);
        transform: scale(1.1);
        z-index: 0;
        clip-path: polygon(4.5454% 4.5454%, 95.4545% 4.5454%, 95.4545% 95.4545%, 4.5454% 95.4545%);
    "></div>

    <div class="userpage-photo-container">
        <div class="userpage-photo-sq">
            <img class="rounded-circle userpage-photo avatar-frame" src="{{ userprofile.get_avatar_url }}">

            {#Кнопка редактирования#}
            {% if request.user == userprofile.user %}
                <a class="userpage-edit-link" href="{% url "userprofile:editprofile" pk=userprofile.pk %}">
                    <i class="fa fa-pencil" aria-hidden="true"></i>
                </a>
            {% endif %}

        </div>
    </div>

    <div class="card-body userpage-user-info">
        <ul class="list-group list-group-flush">
            <li class="list-group-item">
                <h5 class="card-title">{{ userprofile.user.first_name }} {{ userprofile.user.last_name }}</h5>
                <p class="card-text text-secondary">{{ userprofile.user.email }}</p>
                <p class="card-text">{{ userprofile.about }}</p>
            </li>
            <li class="list-group-item">
                <div class="row">
                    <div class = "col">
                        <div class="">Инициативы</div>
                        <div class="">{{ object_list.count }}</div>
                    </div>
                    <div class = "col">
                        <div class="">Рейтинг</div>
                        <div class="">{{ userprofile.rating }}</div>
                    </div>
                </div>

            </li>
            {% if request.user == userprofile.user %}
                <li class="list-group-item">
                    {% include "button-texts/create-post-a.html" %}
                </li>
                <li class="list-group-item">
                    {% include "button-texts/logout-a.html" %}
                </li>
            {% endif %}
        </ul>
    </div>
</div>