<div class="card-footer">
    <div class="row">
        <div class="post-info meta col">
            {% include "post/list-includes/short-post-tags.html" with tags=post.tag %}
            <div class="post-statistics-mini card-text">
                <span class="pub-date-mini float-left">{{ post.pub_date|date:"H:i d.m.Y" }}</span>
                <ul class="list-inline">
                    <li class="list-inline-item"><i class="fa fa-chevron-up" aria-hidden="true"></i> {{ post.likes }}</li>
                    <li class="list-inline-item"><i class="fa fa-chevron-down" aria-hidden="true"></i> {{ post.dislikes }}</li>
                    <li class="list-inline-item"><i class="fa fa-eye" aria-hidden="true"></i> {{ post.views }}</li>
                </ul>
            </div>
        </div>
        <div class="author-info-mini col-md-auto col-sm-auto row float-right">
            <img src="/upload/img/user_empty.png" class="author-photo-mini rounded float-left">
            <h4 class="author-name-mini">{{ post.user.name }}</h4>
        </div>
    </div>
</div>