<ul class="list-group">
    <li class="list-group-item">
        <p>Топ пользователей:</p>
        <button type="button" class="user-popular btn btn-light btn-sm">Имечко Фамилия</button>
        <button type="button" class="user-popular btn btn-light btn-sm">Ваня Шпорт</button>
        <button type="button" class="user-popular btn btn-light btn-sm">Артем Артемов</button>
        <button type="button" class="user-popular btn btn-light btn-sm">Андрей Андреев</button>
        <button type="button" class="user-popular btn btn-light btn-sm">Его Величество ВВ</button>
    </li>
    <li class="list-group-item">
        <p>Популярные теги:</p>
        <button type="button" class="tag btn btn-light btn-sm">Кофе</button>
        <button type="button" class="tag btn btn-light btn-sm">Капучино</button>
        <button type="button" class="tag btn btn-light btn-sm">Столовая</button>
        <button type="button" class="tag btn btn-light btn-sm">Физика</button>
        <button type="button" class="tag btn btn-light btn-sm">Это</button>
        <button type="button" class="tag btn btn-light btn-sm">Круто</button>
        <button type="button" class="tag btn btn-light btn-sm">Поступай</button>
        <button type="button" class="tag btn btn-light btn-sm">В</button>
        <button type="button" class="tag btn btn-light btn-sm">Бауманку</button>
        <button type="button" class="tag btn btn-light btn-sm">Напас</button>
        <button type="button" class="tag btn btn-light btn-sm">Лавандос</button>
    </li>
</ul>
